.filtersButton {
  font-family: var(--font-family-1);
  flex-shrink: 0;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: var(--text-size);
  color: var(--text-color);
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition:
    0.2s color,
    0.2s border-color;

  svg {
    height: auto;
    width: var(--h3-size);
    transition: 0.2s fill;
  }

  &:hover {
    background-color: var(--hover-color);
  }
}

.filtersDialog {
  background-color: var(--bg-color);
  left: 100%;
  top: 0;
  min-height: 100lvh;
  min-width: min(300px, 100dvw);
  border: none;
  box-shadow: var(--shadow);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-sec);
    border-radius: 0px;
  }

  &::backdrop {
    background-color: #0003;
    height: 100lvh;
  }

  .filtersDialogFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 25px;
    padding: min(20px, 5dvw);
    padding-top: 50px;
    min-width: 100%;

    .filtersDialogClose {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;

      svg {
        color: var(--text-color);
        width: 25px;
        height: auto;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.filtersForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: transparent;
  gap: 25px;
}

.searchFilter {
  font-size: var(--text-size-small);
  color: var(--text-color);
  gap: 5px;
  display: flex;
  flex-direction: column;

  input {
    font-size: var(--text-size-small);
    color: var(--text-color);
    padding: 5px 8px;
    background-color: var(--bg-color-sec);
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: var(--font-family-1);

    &::placeholder {
      transition:
        0.2s transform,
        0.3s opacity;
    }

    &:focus-visible {
      &::placeholder {
        transform: translateY(-5px);
        opacity: 0;
      }
    }
  }
}

.priceFilters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  transition: 0.2s border-color;

  label {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 2px;

    span {
      font-family: var(--font-family-1);
      font-size: var(--text-size-small);
      color: var(--text-color);
      transition: 0.2s transform;
    }

    input {
      border: 1px solid transparent;
      color: var(--text-color);
      background-color: var(--bg-color-sec);
      font-family: var(--font-family-1);
      font-weight: 100;
      text-align: center;
      padding: 3px;
      width: 60px;
      height: 26px;
      border-radius: 3px;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  }
}

.sortFilters,
.minDiscountFilter {
  display: flex;
  gap: 15px;

  label {
    flex: 1;
    font-size: var(--text-size-small);
    color: var(--text-color);
    font-family: var(--font-family-1);
    display: flex;
    flex-direction: column;
    gap: 3px;

    select {
      background-color: var(--bg-color-sec);
      border-radius: 3px;
      padding: 5px 3px;
      border: none;
      color: var(--text-color);
      font-size: var(--text-size-small);
      font-family: var(--font-family-1);
      cursor: pointer;
    }

    input[type='range'] {
      accent-color: var(--primary-color);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.othersFilters {
  display: flex;
  gap: 15px;
  justify-content: center;

  label {
    font-size: var(--text-size-small);
    color: var(--text-color);
    display: flex;
    gap: 5px;
    font-family: var(--font-family-1);
    cursor: pointer;

    input {
      accent-color: var(--primary-color);
      cursor: pointer;
    }
  }
}

.priceFilters,
.sortFilters,
.minDiscountFilter,
.othersFilters {
  border: none;
  border-top: 2px solid var(--border-color);

  legend {
    color: var(--text-color);
    margin: auto;
    margin-bottom: 15px;
    padding: 0 10px;
    transition:
      0.2s scale,
      0.2s color,
      0.2s transform;
  }
}
