.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  display: flex;
  width: 100%;
  z-index: 100;
}

.header-container {
  max-width: 1600px;
  padding: 5px 3dvw;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: clamp(1px, 1.5dvw, 10px);
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 8px 3dvw;
  }
}

h1 {
  font-size: var(--h1-size);
  margin-right: auto;
  min-width: 0;
  white-space: nowrap;
  overflow: clip;
  transition: 0.2s scale;

  &:hover {
    opacity: 0.9;
  }

  &:has(a:focus-visible) {
    outline: 2px solid;
    outline-offset: 2px;
  }

  a {
    color: var(--text-color);
    text-decoration: none;

    &:focus-visible {
      outline: none;
    }
  }
}

.header-nav {
  display: flex;
  position: relative;
  margin-right: auto;
  align-items: center;

  .cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
    z-index: -1;
    border-radius: 3px;
  }

  a {
    font-size: var(--text-size);
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 15px;
    border-radius: 6px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.header-options {
  display: flex;
  align-items: center;
  margin-right: 5px;
  gap: 5px;

  .header-gitHub,
  .header-theme,
  .cartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    color: var(--text-color);
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--hover-color);
    }

    svg {
      width: auto;
      height: var(--h2-size);
    }
  }
  .header-gitHub svg {
    fill: var(--text-color);
  }
}

.account-btn {
  white-space: nowrap;
  font-size: var(--text-size);
  border-radius: 3px;
  color: var(--text-color);
  padding: clamp(7px, 2dvw, 10px) clamp(10px, 2dvw, 15px);
  cursor: pointer;
  flex-basis: 70px;

  &.signUp {
    background-color: var(--bg-color-sec);
    transition: 0.2s;

    &:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
    }
  }

  &.login {
    background-color: var(--primary-color);
    color: var(--accent-color);
    transition: 0.2s;

    &:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
    }
  }
}
