.cartItem {
  display: flex;
  gap: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 140px;

  img {
    height: 140px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    user-select: none;
  }

  .itemControls {
    display: flex;

    button {
      flex: 1;
      width: 20px;
      background-color: var(--primary-color);
      cursor: pointer;
      color: var(--accent-color);
      font-size: var(--h3-size);
      user-select: none;

      &:not(:disabled):hover {
        opacity: 0.8;
      }

      &:disabled {
        background-color: var(--bg-color-sec);
        color: var(--text-color);
        cursor: default;
      }
    }

    input {
      flex: 2;
      text-align: center;
      width: 0;
      background-color: transparent;
      border: solid var(--bg-color-sec);
      border-width: 1px 0;
      color: var(--text-color);
      font-size: var(--text-size);
      font-family: var(--font-family-1);
      z-index: 1;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h3 {
    font-size: var(--text-size);
    line-height: 1.2;
    font-weight: 500;
  }
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  .priceContainer {
    display: flex;
    font-size: var(--text-size);
    gap: 5px;
    font-weight: 600;
    line-height: 1;

    .originalPrice {
      text-decoration: line-through;
    }

    .hasDiscount {
      color: var(--discount-color);
    }
  }

  .promotion {
    background-color: var(--discount-color);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: var(--text-size-small);
    font-weight: 600;
    color: var(--accent-color);
  }
}

.shippingCost {
  margin-top: 8px;
  font-size: var(--text-size-small);
  font-weight: 300;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;

  .total {
    font-size: var(--text-size);
    font-weight: 600;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 5px;

    button {
      border-radius: 3px;
      display: flex;
      place-content: center;
      height: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;

      &.favBtn {
        background-color: var(--bg-color-sec);
        color: var(--text-color);
      }
      &.trashBtn {
        background-color: var(--delete-color);
        color: var(--accent-color);
      }

      &:hover {
        opacity: 0.8;
      }

      svg {
        height: auto;
        width: var(--text-size);
      }
    }
  }
}

.cartError {
  background-color: #fecaca;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: var(--text-size);
    font-weight: 500;
    color: #333;
    text-wrap: balance;
  }

  button {
    margin-left: auto;
    color: #333;
    font-size: var(--text-size);
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.1s;

    &:hover {
      opacity: 0.8;
    }
  }
}
