.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  a:hover {
    opacity: 0.9;
  }

  a,
  span {
    background-color: var(--bg-color-sec);
    color: var(--text-color);
    border-radius: 2px;
    width: 30px;
    aspect-ratio: 1/1;
    font-size: var(--text-size);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background: var(--primary-color);
      color: var(--accent-color);
    }

    svg {
      width: var(--h3-size);
    }

    &:first-child,
    &:last-child {
      border-radius: 30px;
      width: 25px;
      height: 25px;
      margin: 0 5px;
    }
  }
}
